@mixin flex ($direction, $justify, $align, $gap, $f-wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $f-wrap;
}