@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

// fuentes
$font-primary: 'Anton', 'sans-serif';
$font-secundary: 'Roboto', 'sans-serif';

// colores
$color-one: #000000;
$color-two: #14121f;
$color-three: #525f79;
$color-four: #a1b4cf;
$color-five: #cddde0;
$color-six: #a38655;
$color-seven: #ffffff;