.about__us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    &__title {
        padding-top: 40px;
        padding-left: 20px;
        font-size: 2.5rem;
        font-family: $font-primary;
    }

    &__text {
        padding: 10px 20px 40px 20px;
        font-size: 1.5rem;
        font-family: $font-secundary;
        align-items: center;
    }
}