#products {
    @include flex (null, center, center, 1.5rem, wrap);
    padding: 40px 20px;
    margin: 0 auto;

    .product {
        @include flex (column, null, center, 1.5rem, null);
        flex: 1 1 clamp(300px, 30%, 400px);

        &__title {
            font-size: 2rem;
            font-family: $font-primary;
        }

        &__price {
            font-size: 1.5rem;
            font-weight: bold;
            font-family: $font-secundary;
        }

        &__text {
            font-size: 1rem;
            font-weight: bold;
            font-family: $font-secundary;
        }

        &__link {
            border: none;
            background-color: $color-one;
            color: $color-seven;
            padding: 1rem 2rem;
            font-weight: bold;
            font-size: 1.2rem;
            border-radius: 100px;
        }
    }
}