.img-background {
    height: 5rem;
    background-image: url(../img/main-background.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: $font-primary;
        font-size: 2rem;
        color: $color-two;
    }
}