.header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        transition: all 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
        img {
            width: auto;
            height: 70px;
            border-radius: 1.8rem;
        }
    }
    .nav-links {
        li {
            padding: 1rem 2.5rem 0 2.5rem;
            display: inline-block;
            transition: all 0.2s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
        a{
            padding-bottom: 0.1rem;
            font-family: $font-secundary;
            font-size: 0.9rem;
            font-weight: bold;
            color: $color-one;
            transition: all 0.2s ease;
            &:hover {
                color: $color-two;
            }
        }
    }
}