#header {
    @include flex (null, center, center, 30rem, wrap);
    width: 100%;
    height: 70px;
    background-color: $color-one;
    border-bottom: 1px solid #cddde0;

    .logo {
        width: 18%;
        height: 100%;
        display: flex;
    }

    .menu__list {
        @include flex (null, center, null, 10rem, wrap);

        &__item {
            font-size: 1.6rem;
            font-family: $font-secundary;
            font-weight: bold;
            border-bottom: 2px solid $color-one ;
            transition: all 0.5s ease;

            &:hover {
                border-color: $color-six;
            }

            &__link {
                color: $color-seven;
            }
        }
    }
}